/* common styles */
@font-face {
    font-family: "sansdn_regular";
    src: url("../fonts/sansdn_regular.ttf");
}

@font-face {
    font-family: "sansdn_light";
    src: url("../fonts/sansdn_light.ttf");
}

@font-face {
    font-family: "sansdn_bold";
    src: url("../fonts/sansdn_bold.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'sansdn_regular';
    font-size: 14px;
}
/* common styles */

/* animations */
@keyframes icon-effect {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(7deg) scale(1.08);
    }
}
/* animations */

/* home page */
.header {
    background-color: #051934;
}

nav.navbar {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    background-color: #eead16;
    color: #504523;
    border-radius: 30px;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

.nav-link {
    padding: 10px 20px!important;
    font-size: 16px;
    transition: all .3s ease-in-out;
    border-radius: 20px;
    margin: 0 5px;
}

.active {
    background-color: #051934!important;
    color: white!important;
}

.nav-link:hover {
    background-color: #051934;
    color: white;
}

.search-input {
    width: 150px;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0 8px;
    background-color: #051934;
    color: white;
    transition: width .3s ease-in-out;
}

.search-input:hover {
    width: 220px;
}

.bi-search {
    top: 9px;
    left: 8px;
    color: white;
}

.swiper-slide {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.slider-title {
    font-family: "sansdn_bold";
    font-size: 36px;
}

.slider-subtitle {
    font-family: 'sansdn_regular';
    font-size: 28px;
}
/* home page */

/* cultural overview */
.cultural-overview {
    background-color: #051934;
    position: relative;
    z-index: 10;
    padding: 40px;
}

.cultural-info {
    background-color: #eead16;
    padding: 60px 40px;
    margin-top: -150px;
    z-index: 1000000;
}

.cultural-info-title {
    font-family: "sansdn_bold";
    font-size: 26px;
    color: #03285b;
}

.cultural-info-subtitle {
    font-family: 'sansdn_bold';
    color: #1A1A1A;
    font-size: 20px;
}

.cultural-info-separator {
    width: 200px;
    border-top: 3px double black;
    border-bottom: 3px double black;
}

.cultural-info-content {
    font-family: 'sansdn_regular';
    font-size: 16px;
    color: #1A1A1A;
    line-height: 30px;
    text-align: justify;
}

.cultural-info-footer {
    font-family: 'sansdn_bold';
    color: #1A1A1A;
    font-size: 20px;
}

.event-icon img {
    width: 90px;
    transform: rotate(0deg) scale(1);
    transition: transform 0.3s ease-in-out;
}

.event-item {
    padding: 15px 0;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.event-item:hover {
    background-color: rgba(192, 192, 192, 0.2);
}

.event-item:hover .event-icon img {
    transform: rotate(7deg) scale(1.08);
}

.event-title {
    font-family: 'sansdn_bold';
    font-size: 18px;
    color: white;
}

.event-separator {
    width: 100px;
    border: 1px dashed #9ba3ae;
    margin-top: 15px;
}

.event-subtitle {
    font-family: 'sansdn_light';
    font-size: 16px;
    color: white;
    margin-top: 10px;
}
/* cultural overview */

/* slogan */
.slogan {
    padding: 100px 0;
}

.slogan-title {
    font-family: 'sansdn_bold';
    font-size: 40px;
    color: #1A1A1A;
}

.slogan-subtitle {
    font-family: 'sansdn_regular';
    font-size: 20px;
    color: #1A1A1A;
}
/* slogan */

/* last events */
.last-events {
    background-color: #eead16;
    padding: 70px 0 90px;
    clip-path: polygon(
        0 0,
        50% 8%,
        100% 0,
        100% 92%,
        50% 85%,
        0 92%
    );
}

.last-events-title-wrapper {
    color: #1A1A1A;
}

.bi-dot {
    font-size: 60px;
    margin-top: 15px;
}

.last-e-title {
    font-family: 'sansdn_bold';
    font-size: 24px;
}

.last-events-swiper .swiper-slide {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    overflow: visible;
}

.last-event-card {
    width: 100%;
    min-height: 300px;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform .7s ease;
    cursor: pointer;
}

.swiper-slide:hover .last-event-card {
    transform: rotateY(180deg);
}

.last-event-front, .last-event-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.last-event-front {
    transform: rotateY(0deg);
}

.last-event-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: inherit;
}

.last-event-back {
    background: #01102A;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    border-radius: inherit;
}

.last-event-back h5 {
    font-family: 'sansdn_bold';
    font-size: 26px;
}

.last-event-back div {
    font-family: 'sansdn_regular';
    font-size: 18px;
}
/* last events */